.slick-arrow{
  color: black;
   background-color: rgb(167, 144, 14);
  height: 30px;
  width: 30px;
  border-radius: 0.4rem;
  transition: all 0.3s linear;
}
.slick-arrow:hover,.slick-arrow:active{
  background-color: rgb(167, 144, 14) !important;
}
.slick-prev{
  z-index: 100;
  left: 20px !important;
  border: none;
}
.slick-next{
  z-index: 100;
  right: 20px !important;
}
.homeslider img{
  height: 150px;
  width: 150px;
  border: 4px solid rgb(240, 234, 151);
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
  box-shadow:1px 1px 10px rgb(240, 234, 151);
}
.reviews{
  padding-top: 4rem;
  font-size: 2.2rem;
  letter-spacing: 2px;
  opacity: 0.9;
  transition: all 0.3s linear;
}
.reviews span{
  color: rgb(170, 118, 20);
}
.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 overflow: hidden;
}
.homeslider{
  width: 50rem;
  text-align: center;
  transition: all 0.3s linear;
}
.homeslider h1{
  font-size: 1rem;
  letter-spacing: 2.4px;
  color: rgb(138, 123, 41);
}
.homeslider h3{
  font-weight: 300;
  font-size: 1rem;
}
.homeslider p{
  font-size: 0.94rem;
  letter-spacing: 1.2px;
  color: rgba(81, 84, 85, 0.959);
  line-height: 1.5rem;
  transition: all 0.3s linear;
}
.homeslider i{
  padding-top: 1rem;
  font-size: 3rem;
  color: brown;
  padding-bottom: 3rem;
}
@media only screen and (max-width:1000px){
  .homeslider{
    width: 80%;
  }
}
@media only screen and (max-width:800px){
  .slick-arrow{
    height: 25px;
    width: 25px;
  }
  .reviews{
    font-size: 1.9rem;
    padding-bottom: 1rem;
  }
  .homeslider p{
    font-size: 0.85rem;
  }
}